#social-media-icons a{
    margin-right:2%;
    cursor:pointer;
}
.container-div {
    width: 90%;
    display: flex;
    align-items: center;

  }
  #get-in-touch{
      color:orangered;
  }
  #formBasicMessage{
      height:50px;
      margin-bottom:10px;
  }
  #locate-us{
      color:orangered;
  }
  .orangered{
      background:orangered;
      color:white;
  }