.emoji-div{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
  }
  .forgetpassword-form-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #forget-password-link{
    color:dodgerblue;
    margin-top: 3%;
  }
  @media only screen and (max-width:860px){
    .container-div{flex-direction: column;}
    .forgetpassword-form-div{width: 96%;margin-right: 1%;}
    .emoji-div{height: auto;}
  }