.carousel-div{
 color:darkorange;
  width: 48%;
  margin-right: 2%;
  height: 100%;
}
.signin-form-div{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width:860px){
  .carousel-div{display: none;}
  .signin-form-div{width: 96%;margin-right: 2%;}
}
