.main-div {
  height: 100%;
  overflow-x: hidden;
}
.container-div {
  width: 90%;
  display: flex;
  align-items: center;
}
.header-div {
  height: 10%;
  background-color:whitesmoke;
  border-bottom : 2px solid #808080;
}
.signin-signup-forgetpassword-div {
  width: 300%;
  display: flex;
  margin-left: -100%;
  transition: 0.3s all ease-in-out;
}
.signin-div,
.signup-div,
.forgetpassword-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.features-aboutus-div {
  height: auto;
  margin-top: 1%;
  border-top: 2px gray solid;
  background-color:#121212;
}

#forget-password-link:hover,
#signup-link:hover,
#already-link:hover {
  cursor: pointer;
}

h4{
  font-weight: bold;
  padding-bottom: 20px;
}


